#Characteristics of array: (Not for Python Lists)
1. The size of array is fixed. once it's declared, it cannot be changed after declaration (only can be changed by creating a new array which is called resizing the array function)
2. Size means : the number of elements or data in the array (Except None or null)
3. Capacity means the actual size of the array or the limit of elements the array can contain.
4. If size==capacity, then we cannot add new elements or data into the array.

In [ ]:
# arr = [None]*5
# print(arr)

[None, None, None, None, None]

In [ ]:
# arr[0] = "Value1"
# print(arr)

['Value1', None, None, None, None]

In [ ]:
 arr = [1,3,5,7,9]
 print(len(arr))

5

In [ ]:
# arr = [1,3,5,7,9]
def iteration(arr):
  for i in range(len(arr)):
    print(arr[i])
iteration([1,3,5,7,9])

1
3
5
7
9

In [ ]:
# reverse iteration
def riteration(arr):
  for i in range(len(arr)-1,-1,-1):
    print(arr[i],end=",")
riteration([1,3,5,7,9])

9,7,5,3,1,

In [ ]:
def copyarray(arr):
  ashol_array = [None]*len(arr)
  for i in range(len(arr)):
    ashol_array[i] = arr[i]
  return ashol_array

copyarray([1,3,5,7,9])

[1, 3, 5, 7, 9]

In [ ]:
def copyarray(arr):
  new_array = [None]*len(arr)
  for i in range(len(arr)):
    new_array[i] = arr[i]
  return new_array

copyarray([0,2,4,6,8])

[0, 2, 4, 6, 8]

In [ ]:
def resizearr(arr):
  ashol_array = [None]*7
  for i in range(len(arr)):
    ashol_array[i] = arr[i]
  return ashol_array

resizearr([1,3,5,7,9])

[1, 3, 5, 7, 9, None, None]

In [ ]:
def shift_left(arr):
  for i in range(1,len(arr)):
    arr[i-1]=arr[i]
  arr[len(arr) - 1] = None  
  return arr  

shift_left([1, 3, 5, 7, 9, 11, 13])

[3, 5, 7, 9, 11, 13, None]

In [ ]:
def left(arr):
  for i in range(1,len(arr)):
    arr[i-1] = arr[i]
  arr[len(arr)-1] = None
  return arr

left([1,2,3,4,5])

[2, 3, 4, 5, None]

In [ ]:
def right_shift(arr):
  for i in range(len(arr)-1,0,-1):
    arr[i]=arr[i-1]
  arr[0] = None  
  return arr

right_shift([1, 3, 5, 7, 9, 11, 13])

[None, 1, 3, 5, 7, 9, 11]

In [ ]:
def right(arr):
  for i in range(len(arr)-1,-1,-1):
    arr[i] = arr[i-1]
  arr[0] = None
  return arr
right([1,2,3,4,5])

[None, 1, 2, 3, 4]

In [ ]:
def insert_element(arr,size,element,index):
  if size==len(arr):
    print("Array is already full, no space for new element")
  else:
    for i in range(size,index,-1):
      arr[i] = arr[i-1]
    arr[index] = element
  return arr

insert_element([1, 3, 5, 7, 9, 11, 13,None,None],7,8,4)

[1, 3, 5, 7, 8, 9, 11, 13, None]

In [ ]:
def insert(arr,size,element,index):
  if size==len(arr):
    print("array full")
  else:
    for i in range(size,index,-1):
      arr[i] = arr[i-1]
    arr[index] = element
  return arr
insert([1,2,3,4,5,None,None],5,0,2)

[1, 2, 0, 3, 4, 5, None]

In [ ]:
def remove(arr,index,size):
  for i in range(index+1,size):
    arr[i-1] = arr[i]
  arr[size-1] = None
  return arr

remove([1, 3, 5, 7, 9, 11, 13],4,7)

[1, 3, 5, 7, 11, 13, None]

In [ ]:
def remove(arr,index,size):
  for i in range(index+1,size):
    arr[i-1] = arr[i]
  arr[size-1] = None
  return arr

remove([1,2,3,4,5,None,None],2,5)

[1, 2, 4, 5, None, None, None]

In [ ]:
def rleft(arr):
  temp = arr[0]
  for i in range(1,len(arr)):
    arr[i-1] = arr[i]
  arr[len(arr)-1] = temp
  return arr
rleft([1,2,3,4,5])

[2, 3, 4, 5, 1]

In [ ]:
def rright(arr):
  temp = arr[len(arr)-1]
  for i in range(len(arr)-1,0,-1):
    arr[i] = arr[i-1]
  arr[0] = temp
  return arr
rright([1,2,3,4,5])

[5, 1, 2, 3, 4]

# Circular Array

In [ ]:
def forward_iteration(cir,start,size):
  k = start
  for i in range(size):
    print(cir[k],end=" ")
    k = (k+1) % len(cir)
  # return cir
forward_iteration([1,2,3,4,5,6,7],2,7)

3 4 5 6 7 1 2

In [ ]:
def bi(cir,start,size):
  k = (start+size-1) % len(cir)
  for i in range(size):
    print(cir[k],end=" ")
    k = k - 1
    if k==-1:
      k = len(cir)-1

bi([1,2,3,4,5,6,7],7,7)

7 6 5 4 3 2 1

In [ ]:
def lc(cir,start,size):
  lin = [None]*size
  k = start
  for i in range(size):
    lin[i] = cir[k]
    k = (k+1) % len(cir)
  print(lin)
  print(cir)
lc([3,4,1,2,5,6,7],2,7)

[1, 2, 5, 6, 7, 3, 4]
[3, 4, 1, 2, 5, 6, 7]

# Linked Lists